body { 
  background-image: url('https://wallpapers.com/images/hd/1920x1080-hd-coding-p1ednn73bcz2t9wv.jpg');
  background-size: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size:auto;
  background-attachment: fixed;

}

body{
    color:white 
}
